{{ define "header" }}
  {{ $tagName := .Title }}
  {{ $tagKey := urlize $tagName }}
  {{ $tagData := index .Site.Data.tags $tagKey }}
 
  {{ if $tagData.featured_image }}
    {{/* Use featured image with Ananke's styling */}}
    {{ $featured_image_class := $tagData.featured_image_class | compare.Default "cover bg-center" }}
    {{ $cover_dimming_class := $tagData.cover_dimming_class | compare.Default "bg-black-60" }}
    <header class="{{ $featured_image_class }}" style="background-image: url('{{ $tagData.featured_image }}');">
      <div class="{{ $cover_dimming_class }}">
        {{ partials.Include "site-navigation.html" . }}
        <div class="tc-l pv6 ph3 ph4-ns">
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ $tagName }}</div>
          {{ if $tagData.description }}
            <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ $tagData.description }}
            </div>
          {{ end }}
          <div class="fw1 f6 white-70 mt3">
            {{ len .Pages }} {{ if eq (len .Pages) 1 }}post{{ else }}posts{{ end }}
          </div>
        </div>
      </div>
    </header>
  {{ else }}
    {{/* No featured image - use simple header */}}
    <header>
      <div class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }}">
        {{ partials.Include "site-navigation.html" . }}
        <div class="tc-l pv4 pv6-l ph3 ph4-ns">
          <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
            {{ $tagName }}
          </h1>
          {{ if $tagData.description }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
              {{ $tagData.description }}
            </h2>
          {{ end }}
          <div class="fw1 f6 white-70 mt3">
            {{ len .Pages }} {{ if eq (len .Pages) 1 }}post{{ else }}posts{{ end }}
          </div>
        </div>
      </div>
    </header>
  {{ end }}
{{ end }}

{{ define "main" }}
  <div class="mw8 center ph3 ph5-l">
    <section class="pv4">
      {{ $pinned := where .Pages ".Params.pinned" true }}
      {{ $regular := where .Pages ".Params.pinned" "!=" true }}
      
      {{/* Display pinned posts first */}}
      {{ range $pinned }}
        <div class="mb4 mb5-l bb b--black-10 pb4">
          <div class="bg-light-yellow pa2 mb2 br2">
            <span class="f7 fw6 ttu tracked">📌 Pinned</span>
          </div>
          {{ .Render "summary" }}
          <div class="mt3">
            <a href="{{ .Permalink }}" class="link blue hover-dark-blue fw6">Read more →</a>
          </div>
        </div>
      {{ end }}
      
      {{/* Display regular posts */}}
      {{ range $regular }}
        <div class="mb4 mb5-l bb b--black-10 pb4">
          {{ .Render "summary" }}
          <div class="mt3">
            <a href="{{ .Permalink }}" class="link blue hover-dark-blue fw6">Read more →</a>
          </div>
        </div>
      {{ end }}
    </section>
   
    {{ if eq (len .Pages) 0 }}
      <div class="tc pv5 gray">
        <p class="f4">No posts found with this tag.</p>
      </div>
    {{ end }}
  </div>
{{ end }}
